html { 
  background: url(../images/charity.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  margin: 5px auto;
  max-width: 800px;
  padding: 5em;
}

form div {
    margin-bottom: 2em;
}
form div label, form div input {
    display: block;
    margin-bottom:2em;
}
.box{
    color: #fff;
    padding: 20px;
    display: none;
    margin-top: 20px;
}
.charity_a{ background: #ff0000; }
.charity_b{ background: #228B22; }
.charity_c{ background: #0000ff; }